@using RazorForms
@using InputType = RazorForms.InputType
@inherits RazorForms.Templates.TemplateBase<TextInputModel>

<div class="@GenerateComponentWrapperClasses()">
	<div class="@GenerateInputBlockWrapperClasses()">
		<div class="@GenerateLabelWrapperClasses()">
			<label for="@Model.MvcName"
			       class="@GenerateLabelClasses()">
				@Model.DisplayName
			</label>
		</div>

		<div class="@GenerateInputWrapperClasses()">
			@if (Model.Type == InputType.TextArea)
			{
				<textarea id="@Model.MvcName"
						  name="@Model.MvcName"
						  class="@GenerateInputClasses()"
						  @Html.Raw(GenerateAttributes())>@Model.Value</textarea>
			}
			else
			{
				<input id="@Model.MvcName"
				       name="@Model.MvcName"
				       type="@Model.Type.GetDescription()"
				       class="@GenerateInputClasses()"
				       value="@Model.Value"
				       @Html.Raw(GenerateAttributes())/>
			}
		</div>
	</div>

	@if (Model.Errors.Any())
	{
		<ul class="@GenerateErrorWrapperClasses()"
		    id="@GenerateErrorId(Model.MvcName)">
			@foreach (var e in Model.Errors)
			{
				<li class="@GenerateErrorClasses()">@e</li>
			}
		</ul>	
	}
</div>
